language: go
go_import_path: github.com/kabukky/journey/

gobuild_args: -v --tags "libsqlite3"

dist: trusty
sudo: false

os:
  - osx
  - linux
  
go:
  - tip
  - 1.8.x
  
addons:
  apt:
    packages:
    - g++-multilib
    - libsqlite3-dev
    
env:
  global:
    - CGO_ENABLED=1
  matrix:
    - MY_GOARCH=amd64
    - MY_GOARCH=386
    
before_install:
- export GOARCH=${MY_GOARCH}
- export GOOS=$(go env GOOS)
- go version
- go env
- echo ${gobuild_args}
- if [[ "$(go env GOHOSTOS)" == "darwin" ]]; then brew install --force sqlite --universal -v; fi

script:
  - if [[ "$(go env GOHOSTOS)" == "$(go env GOOS)" && "$(go env GOHOSTARCH)" == "$(go env GOARCH)" ]]; then go test -v --tags "libsqlite3" ./... ; fi
  
after_success: go build -v --tags "libsqlite3" ./...

before_deploy:
  - zip journey-$GOOS-$GOARCH.zip journey content
deploy:
  provider: releases
  api_key:
    secure: u5UwmoLqQMAiyJmNQKaJ5AhekNz0CKUoAOc3VETEPpA2k7Xr+rD5Mxchx457Z3nv/tbBTdqhZV75KepsO8WTLXkrMichfKC/bG4mP6mn0YHrdnLWPrOiajmLbI939dzIf+50kxCpVGgzrDs3jHaHJKZ/ZwhP3rqtQ5486YgL1ccI7aCk/G/QfK3bqWX51JIZ1Q59RbTCRai5uGe2RvJ0tQ3xtRZl3a0J21B2FTAlnZWWbEffa5e+XqnlCv5kIsF7dAPQ6oKN1RYfhZ3tkGwvrTr3veEDX6pYRe3v4LtXKhxE+mvfA0+5i9HIDDdchJYp8z6BmBG65J+HLGC5gdXtUdP3H2rdcUG2iOwjCytluPtHzHaxQjlMKcEqikLol3n+ML0rLDu0h5hdHvUDKVkYmdWqd0EfRgvYFOsNV9lSZubHK+VRO4c5DbIs61OcJFAKvah2HhcO6W4rD/RRO4VkB/fT4aFVOUHlX2lt5WTN2Ls0hwdx0QKI/E96pPbUHNocjCPL9XdIsgax36w7VofV/RuiqGvBx34Qp763dg060dOJpDmOzh9Oe/bMNYJuoyP0E5SjHGQVy1BgY8Qco48YBJwuFQe0O743VeW1LE1p37QyB/cltVgCB6xtL2FLMhFaBxf7laRg83iaok4c/Zv71CJi9maOemlTDTl7gmnC8aw=
  file_glob: true
  file: "*.zip"
  skip_cleanup: true
  on:
    repo: mschoenlaub/journey
    tags: true
