language: go
go_import_path: github.com/kabukky/journey/

gobuild_args: -v --tags $GOTAGS

dist: trusty
          
jobs:
  include:
  - &test
    stage: test
    go: 1.8.x
    before_install:
    - go get github.com/mattn/goveralls
    - sudo apt-get install software-properties-common 
    script: goveralls -service travis-ci

  - &build
    <<: *test
    stage: build
    script:
    - go build -v --tags $GOTAGS ./...
    - zip journey-$MY_GOOS-$MY_GOARCH journey$SUFFIX content
    
  - <<: *build
    env:
    - GIMME_ARCH=386
    
  - <<: *build
    addons:
     apt:
      packages:
       - gcc-mingw-w64-i686
       - g++-mingw-w64-i686
       - binutils-mingw-w64-i686
    env:
    - GIMME_DEBUG=3
    - GIMME_CC_FOR_TARGET=i686-w64-mingw32-gcc
    - GIMME_CGO_ENABLED=1
    - GIMME_OS=windows
    - GIMME_ARCH=386
    - SUFFIX=.exe
    
  - <<: *build
    addons:
     apt:
      packages:
       - mingw-w64
       - binutils-mingw-w64
    env:
    - GIMME_DEBUG=3
    - GIMME_CC_FOR_TARGET=i686-w64-mingw32-gcc
    - GIMME_CGO_ENABLED=1
    - GIMME_OS=windows
    - GIMME_ARCH=386
    - SUFFIX=.exe

  - <<: *build
    addons:
     apt:
      packages:
       - mingw-w64
    env:
    - GIMME_DEBUG=3
    - GIMME_CC_FOR_TARGET=x86_64-w64-mingw32-gcc
    - GIMME_CGO_ENABLED=1
    - GIMME_OS=windows
    - GIMME_ARCH=amd64
    - SUFFIX=.exe
