language: go
go_import_path: github.com/kabukky/journey/

go:
  - 1.x
  - 1.6
  - 1.7.x
  - master
  
env:
  - GIMME_OS=linux GIMME_ARCH=amd64
  - GIMME_OS=darwin GIMME_ARCH=amd64
  - GIMME_OS=windows GIMME_ARCH=amd64
