language: go
go_import_path: github.com/kabukky/journey/

go:
  - 1.7.x
  - 1.8.x
  
os:
  - windows
  - osx
  - linux
  
 env:
  - MY_GOARCH=amd64
  - MY_GOARCH=386
  - MY_GOARCH=arm
  
matrix:
  exclude:
  - os: osx
  
before_install:
  - export GOARCH=${MY_GOARCH}
  - go version
  - go env

after_success:
 - go build
 
before_deploy:
  - zip journey.zip journey content 
  - "ls -al"
