language: go
go_import_path: github.com/kabukky/journey/

gobuild_args: -v --tags $GOTAGS

dist: trusty
          
jobs:
  include:
  - &test
    stage: test
    go: 1.8.x
    before_install:
    - go get github.com/mattn/goveralls
    - sudo apt-get install software-properties-common 
    script: goveralls -service travis-ci

  - &build
    <<: *test
    stage: build
    script:
    - go build --verbose --tags $GOTAGS ./...
    - zip journey-$MY_GOOS-$MY_GOARCH journey content
    before_install: true
  - <<: *build
    addons:
     apt:
      packages:
       - gcc-mingw-w64-i686
       - g++-mingw-w64-i686
       - binutils-mingw-w64-i686
    env:
    - GIMME_DEBUG=3
    - CC=i686-w64-mingw32-gcc
    - GIMME_CGO_ENABLED=1
    - GIMME_OS=windows
    - GIMME_ARCH=386
