language: go
go_import_path: github.com/kabukky/journey/

gobuild_args: -v --tags $GOTAGS

dist: trusty
        
global:
  - GIMME_CGO_ENABLED=1
  - GOTAGS=libsqlite3
  
jobs:
  include:
  - stage: test
    go: 1.8
    env:
    - GIMME_GOARCH=amd64
    before_install:
    - go get github.com/mattn/goveralls
    script: goveralls -service travis-ci
    
  - &build
    stage: build
    env:
      - GIMME_ARCH=386
      - GIMME_ARCH=linux
    script: 
    - go build -v --tags $GOTAGS ./...
    - zip journey-$MY_GOOS-$MY_GOARCH journey content
  
  - <<: *build
    env:
      - GIMME_ARCH=arm64
      - GIMME_OS=linux
      - GIMME_CC_FOR_TARGET=aarch64-linux-gnu-gcc
    before_install:
      - sudo dpkg --add-architecture arm64
      - sudo apt-get update -yq
      - sudo apt-get install crossbuild-essential-arm64
